{% extends "users/base.html" %} {% block title %}Statement Page{% endblock %} {% block content %}

<style>
  .form-container {
    display: grid;
    gap: 20px;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-container input[type="file"] {
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .form-container button:hover {
    background-color: #45a049;
  }
</style>
<div class="form-container">
  <form method="post" action="{% url 'my_view' %}">
    {% csrf_token %}
    <button type="submit">Download Cleared EFTs</button>
  </form>
</div>
</div>



{% endblock %}
